    
/* Default page style. */

:root {
    --iconSize: 48px;
 
    --clr-bg: rgba(255,255,255,0.05);
    --clr-shadow: rgba(0,0,0,.5);
    --dim-rad: 0;
    --foreground: hsl(200,10%,95%);
    --background: hsl(210, 15%, 18%);
    --backgroundImage: none;
    --folder: hsl(200,10%,95%);
    --controlBorder: hsl(0,0%,70%);
    --viewWidth: 66.66vw;
    --control: hsla();
    --hover: hsla();
}


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input,
select
{
    border-radius: .225rem;
    border: 1px solid hsl(0, 0%, 70%);
}

select {
    padding: .25rem;
}

input[type=number] {
    /*Account for shitty default centering.*/
    padding: .3rem 0 .2rem .25rem;
    line-height: 1.5rem;
    border-radius: .25rem 0 0 .25rem;
    vertical-align: -webkit-baseline-middle;
}

input[type=number]::-webkit-textfield-decoration-container {
    position: relative;
    top: .05rem;
    padding-left: .25rem;
    line-height: 1.5rem;
}



html, body
{
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .08rem;
    overflow: hidden;
}


#layout {
    background: var(--background);
    background-image: var(--backgroundImage);
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: auto var(--viewWidth) auto;
    grid-template-rows: .15fr 1fr .25fr 1fr .30fr;
    user-select: none;
    height: 100%;
}


#cmenu 
{
    position: fixed;
    display: none;
    background: white;
    cursor: pointer;
}

#cmenu > div {
    display: flex;
    align-items: center;
    padding: .5rem .75rem .5rem .5rem;
}

#cmenu > div:hover
{
    background: hsl(200,0%,90%);
}


#cmenu svg
{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
}

#cmenu a
{
    text-decoration: none;
}


#pinned
{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    box-sizing: content-box;
    flex-flow: nowrap;
    min-height: 84px;
    overflow: hidden;
    padding-bottom: 2rem;
}

#bookBrowser,
#layout {
    grid-column: 2;
    grid-row: 4;
    flex-direction: column;
    align-self: center;
}


#initialTip
{
    color: var(--foreground);
    opacity: var(--foregroundAlpha);
}


#pinned,
#bookBrowser > div
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    transition: opacity 2s ease-in-out;
}

#mid
{
    grid-row: 3;
    grid-column: 2;
    align-content: center;
    justify-content: center;
    display: flex;
}

#mid form > span 
{
    display: flex;
    /*background: rgba(255,255,255,0.025);*/
    padding: 0 2rem;
    border-radius: .225rem;
}

#mid a {
    display: inline-block;
    color: darkgray;
    text-transform: uppercase;
    margin: 1rem;
    align-self: center;
    color: var(--foreground);
    opacity: var(--foregroundAlpha);
}

#mid form
{
    align-self: center;
}

#mid input {
    align-self: center;
    border-radius: .225rem;
    border: none;
    padding: .5rem;
    margin: 1rem;
    outline: none;
    background: var(--control);
    text-transform: uppercase;
    text-align: center;
    color: var(--foreground);
}

#mid input::placeholder {
    color: var(--foreground);
    opacity: var(--foregroundAlpha);
}

.book
{
    display: block;
    overflow: hidden;
    color: var(--foreground);
    opacity: var(--foregroundAlpha);
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    margin: .25rem;
    padding: 1rem .5rem;
    width: calc(var(--iconSize) + 2.5rem);
    text-align: center;
    cursor: pointer;
    align-self: center;
}

.up
{
    animation: up .25s ease-out;
}

.down
{
    animation: down .25s ease-out;
}

@keyframes down
{
    from
    {
        opacity: 0;
        transform: translateY(-10%);
    }
    to
    {
        opacity: 1;
    }
}

@keyframes up
{
    from
    {
        opacity: 0;
        transform: translateY(10%);
    }
    to
    {
        opacity: 1;
    }
}

.book:hover
{
    background: var(--hover);
    color: rgba(255,255,255,1);
}

.book:active
{
    transition: background 0.1s ease-out;
    opacity: 0.75;
}

#bookBrowser
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    grid-column: 2;
    grid-row: 4;
}

#pinned span
{
    display: none;
}

.book span {
    margin-top: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


#pinned img,
#bookBrowser img,
.icon {
    width: var(--iconSize);
    height: var(--iconSize);
}

#popout {
    position: absolute;
    top: 0;
    height: 100%;
    background: gainsboro;
    transition: right .25s ease-in-out, opacity .25s ease-in-out;
}

#popout.in {
    pointer-events: none;
    opacity: 0;
    right: calc(-100%);
}

#popout.out {
    right: 0;
    pointer-events: all;
    opacity: 1;
}

.folder svg
{
    width: var(--iconSize);
    height: var(--iconSize);
    fill: var(--folder);
}

.emptyFolder {
    opacity: .5;
}
