    
/* Default page style. */    

    :root
    {
        --tile-x: 8;
        --tile-y: 1;
        --tile-sq: 70px;
        --clr-light: rgb(222, 222, 222);
        --clr-accent: rgb(0, 208, 255);
        --clr-bg: rgba(255,255,255,0.05);
        --clr-shadow: rgba(0,0,0,.5);
        --dim-rad: 0;
    }

/* ========== Layout */

    *
    {
        box-sizing: border-box;
    }

    html, body
    {
        margin: 0;
        height: 100%;
    }

    body
    {
        background: rgb(48,56,64);
        /*background: linear-gradient(to right, #303840, #544c61);*/
        font-family: 'Open Sans';
        display: grid;
        grid-template-columns: 16.66vw 66.66vw 16.66vw;
        grid-template-rows: 10vh 80vh 10vh;
    }

    #content
    {
        grid-column: 2 / 2;
        grid-row: 2/2;
        justify-content: center;
    }


/* ========== Tiles */

    #tiles
    {
        text-align: center;
    }


    .tile
    {
        overflow: hidden;
        padding: .5vh;
        overflow: hidden;
        display: inline-block;
        transition: background 0.3s ease-in-out;
        border-radius: var(--dim-rad);
    }

    .tile:hover
    {
        background: rgba(255,255,255,0.02);
    }

    .tile:active
    {
        transition: background 0.1s ease-out;
        background: var(--clr-bg);
    }

    .tile img
    {
        box-sizing: content-box;
        width: var(--tile-sq);
        height: var(--tile-sq);
    }

/* ========== Tabs */

    #tabs
    {
        height: calc(80vh - var(--tile-sq));
    }

    #tabs > ul
    {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
    }

    #tabs li
    {
        /* Add fade */
        display: inline-block;
        padding: 1rem 1.25rem;
        color: rgba(255,255,255,0.4);
        cursor: pointer;
        background: none;
        letter-spacing: 0.1rem;
        user-select: none;
        transition: color 0.3s ease-in-out;
    }

    #tabs li:hover
    {
        color: rgb(255,255,255);
        transition: background 0.3s ease-in-out;
        background: rgba(255,255,255,0.02);
    }


    #tabs li.tab-active
    {
        background: var(--clr-bg);
        border-radius: var(--dim-rad) var(--dim-rad) 0 0;
        color: rgb(255,255,255);
    }

    #tabs > div
    {
        display: none;
        background: var(--clr-bg);
        color: rgba(255,255,255,0.4);
        padding: 1.25rem;
        height: calc(80vh - var(--tile-sq) - 3rem);
    }

/* ========== Bookmarks */

    [class^=book-] /* Folder & Link */
    {
        margin: .5rem;
        display: inline-block;
        overflow: hidden;
    }

    [class^=book-] a
    {
        text-decoration: none;
        color: rgba(255,255,255,0.8);
    }

    [class^=book-] span
    {
        display: block;
    }


    #bookmarks img
    {
        width: 32px;
        height: 32px;
        margin-right: .5rem;
        opacity: .5;
    }

    [class^=book-] a:hover img
    {
        opacity: .75;
    }

    .book-link span
    {
        display: block;
    }


